断开散热器出口软管与超级歧管的连接注1个弹簧夹
松开将行李箱外部释放开关固定到掀背车门的夹子。
将车辆停放在双柱举升机上，但此时不要升高车辆。
拆下第二排中间头枕。请参阅头枕第二排中间。
打开左前车门，然后降下左前车窗。
从中央显示屏关闭车辆电源。
拧紧将电气线束固定到前转向灯/雾灯的夹子。
拆下第二排中央座椅安全带总成。请参阅座椅安全带第二排中间。
紧固将电气线束固定到超级瓶的夹子。
拆下车身高度传感器的线束夹注1个夹子
断开电气线束与右前转向灯/雾灯连接器的连接。
断开前备箱线束连接器与左车身控制器的连接。
松开将电气线束固定到超级瓶右侧的夹子。
松开用于固定顶篷电气线束的夹子，将其放在一边。
安装后备箱底板饰板。请参阅饰板底盘行李箱。
松开将软管固定到高压电池后滑板的夹子。
移走驾驶位座椅上的重物。
将冷却液再充注软管放入注满冷却液的容器中，确保末端完全浸入
断开电气线束与左侧帘式气囊连接器的连接。
部分关闭但不要锁上右前车门。
断开冷却液温度传感器连接器上的电气线束。
将防溅罩从挡泥板中拉出，以便释放胶带。
连接左大灯连接器。
清理挡风玻璃内侧底部。
降下车窗玻璃，然后断开车窗开关专用工具。
用探针触碰电阻块专用工具任何一侧的凹处，垂直握住探针。
拆下将温度系统横梁电气线束接地端子固定到压缩机的螺栓。
安装新鲜空气进气总成。请参阅风管新鲜空气进气。
在接地带连接点附近，松开将冷却液软管固定到空调压缩机支架的夹子。
移动电气线束连接器，让路面照明灯从饰板底部孔中出来。
松开固定承梁支架的夹子，然后从车上拆下支架。
断开温度系统横梁电气线束与压缩机连接器的连接。
用力摇晃车辆颜色修补漆涂料器，持续几分钟。
拆下左前轮毂。请参阅轮毂。
拆下左雨刮器片。请参阅雨刮器片。
在车辆前部下方放置冷却液排放容器或吸收性材料。
从管路上拆下低压压力和温度传感器。7nm
断开仪表板电气线束与右车身控制器模块连接器的连接。
拆下将管路固定到空调压缩机的螺母，然后松开管路。
从超级歧管上断开动力总成供液软管注1个弹簧夹
断开压缩机高压电气连接器与高压电气线束的连接。
将背光灯电气线束连接到右c柱上的调谐器连接器。
右大灯调节完成时，移开左大灯遮盖物。
将方向盘转至最左侧。
从车上拆下导管。
断开电气线束与前车身控制器模块连接器的连接。
拆下塞子并将高压电池重新连接到电池冷却器软管。
继续本程序前，请先摘下所有金银首饰，清空口袋。
重复此过程，直至翼子板装配间隙和齐平度处于规格范围内。
从前上方控制臂支座上拆下左前上方控制臂。
后移左前座椅。
断开电气线束与左前车门压力传感器连接器之间的连接。
拆下第二排中央头枕。请参阅头枕第二排中间。
model3紧固将前驱动单元逆变器入口软管固定到车身的夹子。
将前排座椅移回原位。
从车上拆下冷却器至车载电脑和高压电池电源歧管软管。
从冷却液容器上拆下冷却液再充注软管。
拆下将冷却液软管固定到空调压缩机支架的夹子。
提起电池系带，将其与后部系紧带脱离，然后从车上拆下系带。
拆下车门底部的扁圆头塞。
向下拉动球颈，确认其锁定到位。
在车辆右前侧的下方放置冷却液排放容器。
向上滑动加速踏板，然后将加速踏板安装到支架中。
将前部线束连接器连接到右加速传感器。
从雨刮器臂上拆下工具。
安装副驾位膝部气囊。请参阅气囊膝部副驾位
将电气线束连接到左后视镜连接器。
将左后悬架转向节置于后悬架上。
松开将电气线束固定到冷却液罐下部左侧的夹子。
将供气管路连接到压力调节器上。
拆下前车牌架。请参阅支架车牌前。
将中央显示屏放置在车内
拆下中控台饰板。请参阅装饰饰件中控台左。
断开座椅安全带锁扣并将其置于一旁注1个连接器
使用无静电吸尘器清理高压电池和配电盒中的所有碎屑。
拆下并弃用将行李箱电气线束接地带固定到行李箱盖的螺栓。
拆下右大灯区域附近的前部线束夹。
连接升降电机连接器注1个连接器
调节车门玻璃。请参阅玻璃车门左后。
拆下第二排下部座垫。请参阅座垫下第二排。
将副框架固定装置向后倾斜至其原始位置。
用手拧紧右前下部横向连杆。
拆下中控台左和右板毡毯。
长按换挡杆上的驻车按钮以松开epb维护模式。
将空的冷却液容器放在前备箱储物单元中。
如果已装配，请断开电气线束与支架和座垫调节开关连接器之间的连接。
断开副驾位安全气囊连接器。
将螺塞安装到功率转换系统的冷却液输出端口以及冷却液输出管的开口端。
拧紧将裙板固定到平衡杆支架的夹子。
断开电气线束与靠背倾角调节电机连接器的连接。
安装将维修面板固定到仪表板的夹子和锁片。
从超级歧管上拆下液冷冷凝器
上移中控台饰板，并断开无线手机充电器的电气连接器。
从左后门前部松开左后门线束密封条。
将前侧透明内衬再次粘贴到徽标上，以便保护表面。
将泡沫安装到新前保险杠纵梁。
拆下将挡风玻璃电气线束粘在挡风玻璃上的遮蔽胶带。
将前部电线连接器连接到左车身控制器模块。
在c柱下部区域，紧固将线束固定到车身的夹子。
断开电气线束与动力总成泵至门槛软管冷却液温度传感器连接器的连接。
断开电气线束与车顶后部控制台连接器之间的连接。
松开将暖通空调电气线束固定到仪表板线束的夹子。
使用toolbox3.0与车辆相连。
安装冷却液罐盖
拆下将连接板固定到车载电脑的螺栓。
点击serviceredeploy旁边的play图标，然后点击run。
打开高压阀和低压阀，然后点击next。
将座椅向后移回原位。
车辆驶离举升机。
断开车窗开关专用工具。
切掉行李箱翻转密封条的重叠部分。
使用toolbox3.0与车辆相连
松开将座椅靠背盖板外侧固定到座椅靠背骨架的夹子，然后露出气囊连接器。
放置运送顶以支撑后副框架的前部梁。
从挡风玻璃清洗器储液罐区域下方的车身上拆下前部线束夹。
松开将饰板电气线束固定到左前转向信号灯/雾灯的夹子。
注意地面与驾驶位一侧大灯的中心投射大灯之间的高度。
断开电气线束与左前部转向灯连接器的连接。
断开电气连接器与调谐器后部的连接。
将电气线束连接到高压电池负极触点开关连接器上。
拆下将高压电池固定到车身的右前内部螺栓。
将压缩机高压电气连接器与高压电气线束相连。
将温度系统横梁电气线束连接到五通阀执行机构连接器。
拆下将低压电池固定到车辆的螺栓。
清除手动开锁缆索上的绝缘泡沫。
拆下将前制动软管支架固定到左前转向节的螺栓。
在前排座位左外侧面板的涂底漆表面顶部涂少量聚氨酯。
安装驾驶位气囊。请参阅气囊驾驶位。
将电气线束连接到左前端支架电气连接器上。
穿过隔板，移入行李箱电气线束。
验证前车牌架与气泡水平仪齐平。确保相比水平地面不存在任何差异。
将温度系统横梁电气线束连接到高压电池冷却液泵连接器。
将方向盘转至正中间。
断开右车身线束与杂物盘电气线束连接器和调谐器连接器的连接。
将拖车挂钩跳线线束和车身线束电气连接器连接到拖车挂钩电子控制单元。
用手拧紧将左后下方控制臂固定到万向节的螺栓和螺母。
断开电气连接器和左前转向信号灯/雾灯。
将左和右缓冲块拧进行李箱盖。
断开电气连接器与前门气囊传感器的连接。
拆下行李箱总成。请参阅行李箱。
手动拧紧将左横梁固定到车身的螺栓。
打开左前车门，完全降下车窗。
从车上拆下前车身控制器模块。
安装后，将装有toolbox3.0的笔记本电脑与车辆相连。
安装前围篦板。请参阅面板前围篦网。
将电气线束连接到挡风玻璃清洗器储液罐连接器。
向上拉动工具和导管接头，以便让接头与功率转换系统断开连接。
安装前饰板裙板。请参阅裙板前饰板。
点击actions/autodiag选项卡，然后搜索purge。
拆下头枕导锁。
将真空再充注工具的溢流软管末端放入空容器中。
连接右车身控制器上的黑色连接器，然后将连接器固定到车身控制器。
断开背光灯电气连接器与调谐器的连接。
安装前饰板总成。请参阅饰板前部。
使用电子称称量替换压缩机的重量，并记录该重量。
拆下将快充触点开关固定到绝缘体的螺栓，并从绝缘体上拆下触点开关。
清理前饰板的前侧中央表面。
将电气线束连接到被动式补充约束控制模块连接器。
用一段丁基橡胶带塞住超级瓶排液孔。
使用真空吸尘器清除行李箱中的所有碎屑或积尘。
断开后置摄像头电气连接器。
从前备箱储物单元中拆下拖钩。
拆下将转向齿条固定到前副框架的内侧螺栓。
将电气线束装入车辆。
拆下冷却液储液罐后部和前部用于将冷却液储液罐固定到超级歧管的螺钉。
移走止轮块。
从车上拆下行李箱门槛饰板。
拆下固定左气波槽的夹子。
拆下减震塔支架。
安装右前脚垫
连接左后车窗电机/调节器总成电气连接器。
拆下卡扣，松开将第二排座椅闩锁卡座固定到座椅靠背的夹子。
将自动故障诊断中显示的id号码记录下来。
在车身内推行李箱电动支杆橡胶索环。
在仪表板下方移动右车身控制器模块，然后从车上拆下。
在直流输入开口处放置一条干净的抹布，用于收集碎屑。
断开电气线束与路面照明灯连接器之间的连接。
撬起后车门的外侧安全带密封件，然后从后车门上拆下密封件。
在挡风玻璃底座处，将半圆形泡沫安装到仪表板支架的中央处。
断开倾斜电机连接器注1个连接器
使用ipa湿巾清洁溢流阀拆除部位开口周围的区域。
在支架上安装homelink发射机模块。
断开12v辅助电池负极端子。
拆下将前饰板上部固定到车辆的螺栓。
将右横拉杆球头置于万向节上。
按照空调机的说明清理空调软管。
将行李箱线束推过行李箱隔板。
长按驻车按钮以取消epb维护模式。
断开电气线束与环境空气温度传感器连接器的连接。
退出维护模式增强版。请参阅维护模式增强版。
打开右后车门。
向吸入/液体管接头上安装新o型环。
推动电气线束进入车门隔板，然后将电气线束安装到车门。
将左轮罩内衬移回安装位置。
松开弹簧夹，然后从超级歧管上拆下动力总成供液软管。
将冷却液再充注至适当液位。请参阅冷却系统
选择actions/autodiag选项卡，然后搜索purge
打开轮拱内衬，以便检修左雾灯调节器。
向压缩机至冷凝器高压管上安装一个新o型环。
model3松开将前驱动单元逆变器入口软管固定到车身的夹子。
将充电端口哑插头安装到直流输入接头。
松开夹子并从超级瓶上断开前驱动单元热交换器至超级瓶软管。
向下滑动加速踏板，然后从车上拆下加速踏板。
从车身上取下举升机适配器，然后安装车身螺塞。
对齐底部锁片，然后向内推，以便安装承梁。
将后毡毯的右侧向后展开到原来位置。
断开电气线束连接器与左前气囊传感器的连接。
断开驾驶室温度传感器连接器，然后从车上拆下维修面板。
使用刮刀刮掉车辆挡风玻璃法兰上的旧聚氨酯和密封件。
拆下冷却液罐。请参阅冷却液罐。
安装将温度系统线束盖板固定到前车身控制器模块的螺栓。
安装将电气线束固定到超级瓶下部左侧的夹子。
从车辆上拆下手套箱。
转动钥匙，使箭头与锁芯上的锁定图标对齐，然后取下钥匙。
以交叉方式拧紧冷却液泵螺钉。
在粘贴胶带的区域之间干式装配后扰流板。
断开电气线束与低压传感器连接器的连接。
打开前备箱盖
松开将高压互锁回路线束固定到隔板的前部线束夹。
将车辆停放在水平面上。
从车载电脑冷却液软管连接点下方和车载电脑下方取走吸水材料。
确保可在转向柱控制模块左上方的检修口处看到钟表弹簧胶带指示标志。
将一条车间毛巾夹在两个车门撞销上，并用一支笔锁止车门。
安装将前驱动单元线束固定到前驱动单元电机的夹子。
断开电气线束与车顶前部控制台连接器之间的连接。
拆下将超级瓶固定到温度系统横梁的螺母。
拆下将高压电池正极电源开关固定到配电盒的螺母。
在隔板区域，将电气线束连接到连接器。
拆下将上控制臂固定到万向节的螺栓和螺母，然后弃用螺母。
拆卸系带固定翻转门。
拆下机电制动助力器。请参阅助力器制动机电。
将高压连接器专用工具安装到前驱动单元高压连接器上。
从正温度系数加热器上断开仪表板线束连接器。
执行后倾角清除，方向盘回正并对其进行设置，然后检查定位情况。
按需将客户物品放回手套箱中。
断开靠背倾角调节电机注1个连接器
完全降低左后车窗。
将作业灯推入脚部空间罩，直到其卡入到位。
拆下副驾位膝部气囊。请参阅气囊膝部副驾位
将电气线束的后部穿过行李箱隔板的右侧移入。
坐进驾驶位座椅，然后关闭车门。
佩戴抗静电腕带，将腕带连接到一处车身接地点。
从左前弹簧和减震器总成上拆下前上方控制臂支座。
称出干燥剂包的重量。此重量被视作湿重。
在b柱区域，紧固将线束固定到车身的夹子。
在助手的帮助下，拆下背光灯玻璃，放置在台架上。
松开将副驾位脚部空间罩固定到仪表板支架的推拉式夹。
从车上拆下左前座椅安全带。
将杂物盘线束连接器连接到右车身电气线束。
通过检查目标后部的气泡水平仪确保目标位于平坦地面之上。
将车辆驶离四柱举升机。请参阅升起车辆四柱举升机。
将温度系统线束连接器连接到前车身控制器模块。
在充电端口区域，松开并弃用将电气线束接地带固定到车身的螺栓。
进行试驾，确保车辆的制动和驾驶性能符合设计要求。
将12v充电器连接到12v辅助电池端子上。
断开电气线束与左大灯连接器的连接。
安装前置全景摄像头。请参阅摄像头全景前置。
将车辆置于空挡。
断开湿度和温度传感器电气连接器。
拆下挡风玻璃紧固件轨道。
执行车辆隔离程序。请参阅车辆电气隔离程序。
从正温度系数加热器上断开12v电气连接器。
拉拽行李箱密封条上的线，让其与内饰齐平。
降下车辆并将其驶离举升机。
断开方向盘连接器注1个连接器
将座椅移回原位。
向后折叠右前毡毯。
断开电气线束与座椅安全带卷收器连接器的连接。
踩下制动踏板以确保驱动导轨打开，然后点击next。
拆下替换压缩机上的端口塞和端口螺母。
断开线束连接器与左通风槽的连接，然后拆下通风槽。
降低车辆，以便接近前备箱盖区域。
将座椅移至最前端。
将散热器入口软管连接到超级瓶左前侧，然后紧固夹子。
安装用于固定12v电池后侧钩拉紧器的螺母。
插入冷却液软管的内螺纹接头。
完成制冷剂回收后，从车上的高压和低压空调端口上拆下空调机软管。
关闭手套箱。
拆下摄像头上盖。请参阅连拍相机罩上。
调节后轮前束角。请参阅调节后轮前束角。
如果逻辑连接器端盖已安装到高压控制器连接器上，请将其拆下。
使用一字螺丝刀拆下加注口上的o型环。
为系统重新充注冷却液。请参阅再充注。
将车辆降低至合适的高度并安装制动踏板抑压器。
松开将温度系统横梁电气线束固定到减震塔支架的夹子。
在行李箱盖和车身上粘贴遮蔽胶带，标记电动行李箱铰链的当前安装位置。
关闭全部四个车门注关闭前需解锁后车门
将触摸屏放到中央显示器外壳上，然后将触摸屏电气连接器连接到显示屏。
检查高压电池后部的高压电池通风口总成上是否存在通气装置。
取走车辆下方的液体收集器。
从天线放大器上断开电气连接器。
拆下覆盖车门内开口的螺塞，为螺栓留出空间。
断开电气连接器与紧急扬声器的连接。
断开左前轮转速传感器连接器。
仅限左侧驾驶车型：安装雨刮器电机。请参阅雨刮器模块。
拧紧将电气线束固定到饰板的夹子。
拆下将左上前翼子板支架固定到车辆的螺栓。
用ipa湿巾清洁车上的两个球头。
从车上拆下左雨刮器臂和软管总成
清理白板笔在铰链上留下的标记。
拆下将高压电池配电盒线束固定到高压电池快充触点开关的夹子。
从超级歧管上拆下座舱冷凝器止回阀卡环并将其弃用。
断开电气电线连接器与车顶后部控制台的连接，然后从车上拆下控制台。
如果外倾角无法修正，请升级toolbox会话。
连接下部模式执行机构电气连接器。
将调节器设置到0.15psi。
拧紧将玻璃固定到升降器隔离夹的螺栓。9.5nm
拆下后备箱毡毯。
拆下将前饰板格栅固定到前饰板的螺钉。
聚氨酯干燥期间，请使用胶带固定左后角窗玻璃。
拆下将横梁固定到车身的螺栓。
使用异丙醇湿巾擦拭即将安装索环的位置。
拆下手套箱。
安装固定右前车架纵梁附近前部线束测试接头的螺栓。
将驾驶位气囊完全压入方向盘，以便弹簧夹将气囊固定到方向盘上。
松开仪表板左侧的仪表板线束夹。
在仪表板上放一块大毛布作为保护。
断开电气线束与挡风玻璃加热器连接器的连接。
使用toolbox将车辆置于factorymode。
执行维修重新部署。请参阅固件重新部署。
将溢流软管的末端放入空容器中。
将冷却液储液罐充注至max液位处。
将空调压缩机支座和吸入口与隔音毯开口对齐。
安装将超级歧管固定到减震塔支架的螺栓。
从车上拆下后车窗开关。
断开电气线束与前驻车距离传感器的连接。
拆下将加速踏板固定到车身的螺栓。
沿着原始路径在车身上涂抹聚氨酯。
从冷却器至车载电脑和高压电池电源歧管软管上断开冷却液温度传感器连接器。
从车上拆下右车身线束。
从车上拆下中央显示屏
拆下前围板高频扬声器。请参阅高频扬声器前围板。
将气囊的7个锁片插入仪表板支架四周的匹配开口中。
从车上拆下左后下部前连杆。
将驾驶座和副驾座移动到原来的位置。
拆下行李箱上的徽标固定装置和遮蔽胶带。
断开电气线束与右大灯连接器的连接。
安装副驾位座椅。请参阅密封驾驶位。
将溢流软管的末端放入空容器中
在助手的帮助下，将从车上拆下前备箱盖支撑件。
将电气线束连接到座椅安全带卷收器连接器。
如果之前从手套箱中取出了客户物品，请将其放回手套箱中。
在车载电脑下方放置吸收性材料，以收集溢出的冷却液
拆下行李箱负重底板。请参阅饰板底盘行李箱。
断开挡风玻璃清洗器储液罐上的电气连接器。
清洁后视镜玻璃，清除任何污斑或指印。
拆下将右后制动管路管束固定到防抱死制动系统单元的螺母。
连接主动进气格栅电气连接器，然后接合连接器锁。
拆下并弃用将高压电池负极触点开关固定到电池端子的螺母。
固定将左加热电网线束固定到车辆的夹子。
断开电气线束与电动蜂鸣器的连接。
连接上部模式执行机构电气连接器。
将12v电池通风管安装到电池支架上
拆下12v正极端子的护罩。
紧固将温度系统横梁电气线束固定到压缩机和压缩机支架的夹子。
移动座垫海绵和框架总成，以便为底部留出空间。
断开车辆右侧的动力总成回路软管，然后插入外接头。
松开夹子，断开电脑净化排放适配器与左侧车载电脑冷却液接头之间的连接。
安装将扬声器线束固定到调谐器的夹子。
拆下将正温度系数加热器和空调压缩机高压接头连接到高压电池的螺栓。
松开将仪表板线束固定到车身的夹子。
固定左b柱上部饰板。
松开将螺钉罩固定到左后衣帽钩的夹子。
拆下固定轮毂千斤顶适配器的轮毂螺母，然后从车上拆下轮毂千斤顶适配器。
在大灯测试工具上，选择save按钮记录结果，然后再次选择save查看结果。
拆下门槛后备箱饰板。请参阅饰板门槛行李箱。
安装主仪表板饰板。请参阅装饰饰件仪表板主。
将天线线束连接到调谐器和车身线束上。
从右车身控制器上松开黑色连接器，然后断开连接器。
安装高压电池中梁滑板前部的盖板。
从挡风玻璃总成上取下吸盘。
关闭左前车门，然后升起左前车窗。
开始1分钟倒计时。
松开将电气线束固定到座椅倾斜电机的夹子。
从供暖、通风和空调风扇总成电机连接器上断开仪表板线束。
断开前围板线束连接器与右侧车身控制器的连接注1个连接器
拆下后饰板总成。请参阅饰板后部。
从右车身控制器模块中移出右车身线束。
将拖车挂钩跳线线束和车身电气线束连接到拖车挂钩电子控制单元连接器。
拆下将挡泥板连接到轮拱内衬的螺钉和垫圈或推入式夹。
将前驱动单元至高压电池线束的高压电池前驱动单元连接器上的把手抬至最高处。
将前部线束连接器连接到左加速传感器。
将12v电气连接器与正温度系数加热器相连。
在面板内侧，松开将螺栓帽固定到车门饰板上的夹子。
安装所有车轮。请参阅轮毂。
安装将冷却液软管固定到左剪力板的夹子。
将过滤器锁片向外折叠，然后从过滤器外壳中拉出上部过滤器。
断开j12车身电气连接器与右车身控制器模块的连接。
将电气线束连接到动力总成冷却液泵连接器。
将扶手恢复至竖直位置。
从12v电池横梁上拆下冷却液软管夹。
将车辆置于驻车挡。
关闭右后车门，。
将电气线束连接到左后车门外部释放把手连接器。
标记后制动盘的顶部中心以确定起点。
断开电气线束与座椅滑轨电机连接器的连接。
断开中央高位制动灯电气连接器。
安装将前驱动单元热交换器至超级瓶软管固定到超级瓶的夹子。
在暖通空调气室管道区域，松开将电气线束固定到车身的夹子。
拆下将转向柱固定到横梁的螺母，然后将转向柱降至与支柱分离。
重新部署固件。请参阅固件重新部署。
打开车辆左前门。
从新左边梁饰板上拆下新边梁饰板系带夹。
安装将手套箱固定到仪表板支架的螺钉。2.3nm
松开将超级歧管固定到减震塔支架的螺栓。
在高压电池右前侧的下方放置冷却液排放容器。
拆下将前驱动单元高压线束固定到前驱动单元的螺栓。
从支架上松开正温度系数高压电气连接器，然后断开连接器。
松开将中控台装饰饰板固定到总成的夹子。
从车载电脑冷却液接头上拆下车载电脑液体端口塞。
将电池连接到冷却器软管和高压电池回路软管。
将踝部支架放置在前端支架定位柱上，然后将踝部止动爪滑入位。
松开将冷却液软管连接到12v电池支架的夹子。
紧固将冷却液软管固定到左剪力板的枞树夹。
将前驱动单元高压线束安装到铸件上。
在下部右侧，拆下将仪表板支架固定到横梁的螺钉
升起emi护板。
松开将高压电池右内部回路软管固定到高压电池的夹子。
断开暖通空调电气连接器与右车身控制器模块的连接。
拆下第二排中央锁扣。请参阅锁扣第二排中间。
将电气连接器连接到地面照明灯。
从直流输入接头中拆下充电端口哑插头。
不再排出冷却液时，关闭p2。
再充注冷却系统。请参阅冷却系统。
从车身上拆下掀背车门止动块。
从横梁上拆下仪表板线束。注记住仪表板线束布线以便安装
更换超级歧管至暖通空调管路总成上暖通空调一侧的密封垫圈。
松开将冷却液软管固定到12v电池支架的夹子。
断开左和右后雾灯/倒车灯电气连接器。
拆下将供暖、通风和空调入口固定到供暖、通风和空调总成的螺钉。
在12v电池中安装通风软管
将加注口直接拉离挡风玻璃清洗器储液罐，以便将其拆下。
清除左前侧转向灯饰板上的粘合剂。
将左前座椅移至最后端，然后将座椅靠背移到下方。
松开将前副框架固定到副框架举升工具的固定带。
手伸进车门开口中，从车上拆下限位器。
从外接头上取下塞子，然后将电池连接到冷却器软管。
从前制动盘上拆下制动盘偏转夹紧板。
拆下并弃用将座椅高度电机固定到座垫框架的耐落螺栓。
松开将顶蓬前部固定到车身的夹子，然后将顶蓬与车身分开。
向供暖、通风和空调总成上安装新o型环密封件。
将前部线束的左侧排布到前控制器区域。
将前部线束盖板安装到前车身控制器的后部。
安装将直流输入母排固定到快充触点开关母排的新螺栓。
使用方向盘托架将方向盘锁入位。警告防止座椅受损。
安装将电气线束固定到调谐器的夹子。
继续执行该程序来安装配电盒罩。请参阅盖板配电盒。
断开温度系统横梁电气线束与五通阀执行机构连接器的连接。
拆下车载电脑冷却液软管连接处下方的吸附材料。
将压力调节器设置到50psi。
断开电气线束与前备箱盖锁主执行机构连接器的连接。
打开左后门。
关闭行李箱盖。
安装踝部止动爪。请参阅踝部止动爪。
将密封条塞入亮条中，确保其稳妥固定在饰板和顶蓬上。
检查冷却液罐液位，必要时加满。
从仪表板左侧松开仪表板线束夹。
安装后扩散器。请参阅扩散器后饰板。
启动抛光机，然后用切割垫清洁刷清洁切割垫。
从配电盒盖上拆下配电盒探针盖板
如果配置为三相输入，请将辅助哑插头安装到三相接头上。
在助手的帮助下，通过副驾位出入口将顶蓬移入驾驶室。
使用尖嘴钳从蓄压器中取出干燥剂包。
从左前座椅上拆下钻石盖板夹子。
将泄漏测试适配器插头安装到右罩总成中。
从高压电池前驱动单元连接器上拆下高压连接器专用工具。
拆下将转向柱固定到车身的螺栓。25nm
打开左前车门
安装触摸屏。请参阅触摸屏。
打开行李箱，拆下掀背车门左止动块。
紧固将后副框架电气线束固定到后驱动单元逆变器的夹子。
松开将吸入/液体管固定到热膨胀阀附近电气线束的夹子。
运行testselfvcfront_x_brakefluidlevel测试。
拆下后部车牌。
从车上拆下车载电脑
将前部线束夹安装到右纵梁外侧。
断开电气连接器驾驶位遮阳板的连接。
拆下左大灯总成。请参阅大灯左。
松开将电气线束固定到超级瓶的夹子。
将电气线束连接到杂物盘下方的行李箱电气线束连接器。
断开1号电气连接器与左车身控制器模块的连接。
将电线线束连接到左前车门外部释放把手连接器。
松开将主动进气格栅固定到冷却风扇模块的夹子，然后从模块上拆下主动进气格栅。
检查超级瓶的冷却液液位，如果需要则加注冷却液至实线处。
拆下并弃用将车载电脑固定到车身的螺母。
从高压电池接头上拆下高压电池前驱动单元连接器。
将顶蓬安装到车身，然后紧固将顶蓬固定到车身的夹子。
从显示屏连接器上拆下固定夹注1个夹子
松开将行李架扬声器格栅固定到车辆的锁片。
断开高压电池回流软管与超级歧管的连接注1个弹簧夹
从软管上拆下冷却液压力测试适配器和冷却液排出适配器。
选择actions/autodiag选项卡，然后搜索resetcompressor。
预装将转向机构总成固定到前副框架的内侧螺栓。
将前部线束的左侧从轮拱排布到前备箱区域。
松开将电气线束固定到重低音扬声器的夹子。
连接内部摄像头连接器，然后安装将摄像头上盖固定到车辆的夹子。
将直流直流直通件连接器牢牢连接到功率转换系统，然后降下锁片。
将右车身线束的后部穿过右侧行李箱隔板。
执行配置更新.
使用遮蔽胶带标记前备箱盖锁的位置。
将电气连接器连接到前备箱盖锁副执行机构。
松开将驾驶位座椅靠背饰板固定到座椅靠背泡沫的夹子。
松开将后驱动单元接地线束固定到后副框架的夹子。
安装12v/低压电池。请参阅12v/低压电池。
拆下将前转向灯/雾灯固定到前饰板的螺钉。
将暖通空调线束连接器连接到右侧车身控制器注1个连接器
拆下驾驶位脚垫。
将车辆移到定位架上。
将车辆举升到舒适的作业高度。
从冷却液输入管和冷却液输入接头上拆下塞子。
安装将电气线束固定到前饰板中央的夹子。
松开弹簧夹，然后从超级歧管上拆下冷却器至电池软管。
将踏板总成安装到车辆上。请参阅制动踏板。
扣紧将座垫泡沫固定到座椅悬架的夹子。
从方向盘上拆下方向盘托架和方向盘水平仪。
在将正极直流链路连接到正极母排的螺母上，拆下绝缘帽。
在制动助力器区域，断开电气线束与连接器的连接。
从挡风玻璃线束上拆下胶带。
从座椅框架上拆下座椅安全带锁扣线束夹注1个夹子
断开右大灯连接器。
记下起始压力值。
从后下部尾连杆上拆下左和右螺旋弹簧。
从触摸屏上拆下中央显示器外壳。
将驾驶位座椅充分向前移动。
将冷却液压力测试适配器连接到内螺纹接头。
在隔板区域，松开将电气线束固定到车身的夹子。
安装高压电池中梁滑板后部的盖板。
对高压电池配电盒的右底部重复第16步。
手动拧紧将高压电池前部固定到车辆的螺栓。
将座椅移至最后端。
断开后视镜电气线束与连接器之间的连接。
断开主动进气格栅电气连接器。
如果需要，请从手机托盘中取出并妥善保管客户的物品。
断开电气线束连接器与雷达传感器的连接。
适度松开必要的螺栓，只要能轻微用力即可调整总成即可。
将前备箱连接器连接到右车身控制器。
将车间抹布推进撞销一半处，然后关闭车门，以便其依靠在车间抹布上。
将各铰链的底部螺栓安装到车门内，并手动拧紧所有螺栓。
在高压电池左前侧的下方放置冷却液排放容器。
插入螺塞，覆盖左后车门外部释放把手螺母的空间。
将电气连接器连接到左后车门路面照明灯。
使用胶带在左前门上标记车门铰链的支座位置。
处理第二排区域，松开用于固定行李箱毡毯左侧的夹子。
松开将底部饰板固定到顶部饰板的夹子，然后分开两种饰板。
降下左前车窗。
拆下将高压电池固定到车辆的前侧中央螺栓。
拆下供暖、通风和空调总成。请参阅暖通空调总成。
从高压电池正极触点开关上拆下绝缘体端盖。
安装将直流直流电缆固定到右车身控制器模块的夹子。
将冷却液输出导管安装到功率转换系统和电池法兰中。
从前驱动单元高压接头上拆下前驱动单元高压连接器。
安装右仪表板端盖。请参阅端盖仪表板左
升起全部车窗
将蓝色同轴电缆连接器连接到车身线束导件侧。
将压力接头适配器固定到内接头。
确认挡风玻璃清洗器和雨刮器可以正常工作
拆下前裙板。请参阅裙板前饰板。
拆下前后车轮。请参阅轮毂。
将下部空调软管安装到超级歧管至暖通空调管路总成上
拆下左后悬架下方的起重机下方支架。
从把手上拆下临时设置功能锁片。
推动电气线束穿过车门隔板，然后从车门上拆下电气线束。
松开将仪表板电气线束固定到正温度系数加热器的夹子。
在车辆触摸屏上，点击右。
将冷却液排放适配器连接到外接头，然后将管路引入冷却液排出容器。
从冷却液容器上拆下冷却液溢流软管
安装将调谐器固定到车身的螺栓。10.1nm
将驾驶位靠背恢复原位。
从高压电池顶面上拆下遮蔽胶带。
将新的索环安装到车身中。
将行李箱密封条上的线与撞销对齐。
将sccm安装到转向柱上
合上中控台的储物箱盖。
断开驾驶位气囊上的电气线束连接器。
从车辆上拆下前部流线型护板。请参阅面板流线型护板前
松开将线束固定到空调压缩机高压线束支架的夹子。
确保高压电池后侧周围的高压电池连接器已放置入位、稳妥固定。
使用刮刀，小心地清除车身上的旧聚氨酯。
将冷却液泵出口置于上位，然后将冷却液泵插入超级歧管。
掀起李箱箱毡毯，与isofix横梁分离。
拧松但切勿拆下将前端支架的顶部固定到车身的螺栓。
将电气线束连接到冷却器与exv总成连接器。
松开夹子以分开前驱动单元逆变器冷却液入口软管，然后将冷却液排入冷却液排放容器。
松开将副驾位膝部气囊盖板固定到车辆的夹子。
将前轮转速传感器线束夹安装在右前轮拱前部。
安装后部电池系紧带。
断开仪表板电气线束与正温度系数加热器加热器连接器的连接。
一旦真空表读数为零，请关闭冷却液再充注阀
从车上拆下右横梁支架
将电气线束连接到分流器连接器上，然后将电气线束挂到分流器绝缘体上。
安装将中梁滑板固定到高压电池的外侧螺栓。32nm
解开座椅安全带，然后从车上取下压舱袋。
断开电气线束与中控台电源插座连接器之间的连接。
关闭左后车门。
拆下将雷达支架固定到前端支架的螺栓，然后从车上拆下雷达支架。
继续操作前，请戴好护眼和护耳装置。
将配电盒线束与高压控制器连接器断开。
将橙色塑料固定夹安装到转向柱控制模块的电气线束连接器中。
拆下挡风玻璃清洗器储液罐加注口。请参阅guidaf7a6cc0768c42d5805003a2374ee16b.html。
拆下右脚部空间通风管。
拧紧将前驱动单元接地线固定到高压电池的螺栓。10nm
将温度系统辅线束总成与超级歧管分开放置。
朝左前座椅方向提起左前主毡毯
调节前置摄像头。请参阅摄像头前置。
断开扬声器线束连接器与调谐器之间的连接。
维护模式增强版将启用，触摸屏上会出现维护模式增强版水印。
将限位器密封条置于限位器上，然后拧紧紧固件。
将线束夹安装到车载电脑安装夹上，然后将线束安装到车载电脑上。
用异丙醇湿巾清洁安装区域。
从新门槛板上揭除胶面保护条。
打开前备箱盖并用撑杆对其进行支撑。
将第二个泄漏测试插头安装到右罩总成中。
安装将左前轮拱内衬固定到车身的推拉式夹。
使用酒精棉清理挡泥板，然后等待完全干燥。
揭除后扰流板上的胶面保护条，以露出胶带。
将电气线束连接到座椅倾斜电机连接器。
拆下徽标的前侧透明内衬。此时切勿丢弃内衬。
调整车门间隙和平整度。
在维修单上记录新旧传感器的零件号和序列号。
拆下前视摄像头。请参阅摄像头全景前置。
在助手的帮助下，从车上拆下拖车挂钩总成。
将遮蔽胶带的中间粘贴在行李箱盖上。
从左前顶篷扬声器上拆下隔音泡沫。
在助手的帮助下，拆下将中梁滑板固定到高压电池的螺栓。
从车上拆下防溅罩和挡泥板总成。
拆下雨刮器模块。请参阅雨刮器模块。
从高压电池右后侧下方移走冷却液排出容器。
拆下将左止推杆固定到后副框架的螺母和螺栓。
断开电气线束与座椅安全带锁扣连接器的连接。
制冷剂再充注完成后，点击next开始充注结束流程。
使用toolbox退出factorymode。
检查冷却液液位，如果需要则加满冷却液。
从车上拆下空调管路。
更换组件后，再次充注冷却液。请参阅再充注。
松开将管路固定到超级瓶的夹子。
松开将电气线束固定到第二排座垫边缘支架的夹子。
拆下左悬架下方的支架前部。
从车上拆下超级瓶。
断开服务断路开关注1个连接器；松开锁片
将电气线束连接到冷却器与exv总成软管冷却液温度传感器。
将车辆升高至所需高度，然后锁入所有升降机安全锁。
安装将排放管固定到冷却风扇模块的螺母。22nm
在副驾位气囊附近，拆下将仪表板支架固定到横梁的螺钉。
执行空调制冷剂再充注。请参阅空调制冷剂回收和加注。
从驾驶位座椅靠背框架上拆下驾驶位座椅靠背饰板固定器。
安装行李箱电动支杆和行李箱饰板。请参阅电源支柱行李箱。
确保冷却液泵完全置于超级歧管中。
安装将制动盘固定到轮毂的螺栓。5nm
拆下并弃用将负极直流输入母排固定到负极快充触点开关母排的螺栓。
从车身上松开左侧背光灯母排线束。
拧紧将前端支架上部固定到车身的螺栓。16nm
合上左后衣帽钩。
安装螺塞，覆盖车门升降器隔离夹中的开口。
拆下用于覆盖左后门外部开锁把手螺母空间的螺塞。
将3号车身电气连接器连接到左车身控制器模块。
使用刮刀刮掉基线。
将背光灯电气连接器连接到调谐器。
拆下前门扬声器。请参阅扬声器前车门左。
拆下将ecall天线连接到仪表板总成的螺钉。
打开行李箱，松开铰链螺栓，调节行李箱盖位置，再拧紧螺栓。
拆下前排乘客脚垫。
将两把新钥匙放置在中控台上的杯托后面。
紧固紧邻加热器连接器的电气线束固定夹。
断开左后雾灯/倒车灯上的电气线束连接器。
拆下右前车架纵梁区域的前部线束夹。
将电气线束的后部穿过行李箱隔板的右侧。
安装高压电池后滑板。请参阅滑板高压电池后。
将新的左前翼子板安放在车上。
安装将驾驶位座椅靠背饰板固定到座椅靠背泡沫的夹子。
松开将顶篷固定到车身的夹子。
连接车窗开关专用工具，降下车窗，以便为升降器隔离夹留出空间。
拆下中控台通风口面板。请参阅总成后通风口中控台。
打开左车门，降下左车窗。
断开前部线束连接器与cfm的连接。
连接车窗开关专用工具。
移动电气线束连接器，从饰板底部孔洞中取出路面照明灯。
升起车辆。请参阅升起车辆双柱举升机。
将高压电池至前侧驱动单元的线束安装到高压电池中梁滑板的中间处。
将内盖安装到冷凝器中，然后将其压到刚好低于卡环凹槽的位置。
断开电气连接器与副驾位膝部气囊之间的连接，然后从车上拆下气囊盖板。
手动拧紧将横梁固定到整流罩上部的螺栓。
返回至车辆电气隔离程序。
从后制动盘上拆下制动盘偏转夹板。
安装并用手拧紧将前副框架后部固定到车身的新大号螺栓。
将两条高压互锁回路线束的前部线束夹安装在隔板处。
从旧前备箱盖上拆下左和右缓冲止动块。
断开电池组外壳泄漏测试仪与泄漏测试适配器的连接。
将电气线束连接到车载电脑连接器。
安装暖通空调气室内管。风管暖通空调集气室内
从行李箱盖上拧下左和右缓冲块。
从车上拆下左前转向信号灯/雾灯。
紧固将座椅电气线束固定到车身的夹子。
连接12v电池的负极端子。
在右大灯区域，松开将电气线束固定到车身的夹子。
松开将前雷达传感器电气线束固定到前端支架的夹子。
拆下将直流直流接地母排固定到车身的螺栓。
在驾驶位脚部空间区域，松开并弃用用于固定电气线束接地带的螺栓。
扣紧将高压电池交流电源插座线束固定到功率转换系统的夹子。
从冷却液压力测试器上断开压缩空气管。
将12v电池充电器连接至12v电池。
关闭车辆电源，等待蒸发器干燥3分钟。
连接行李箱外部释放开关电气连接器。
松开将仪表板电气线束固定到暖通空调总成右侧的夹子。
拆下电动行李箱盖饰板。请参阅饰板箱盖电动行李箱。
安装并手动拧紧将高压接头固定到高压电池的螺栓。
在墙上粘贴一块胶带，距离地面28英寸。
使用油性记号笔或遮蔽胶带标记前备箱盖锁的位置。
将钥匙孔盖插入球颈中。
从车辆上取走两个冷却液容器。
从车门饰板上拆下电动释放开关。
在新前车牌架上，揭下水平长条胶带的底衬。
从电子转向柱上断开仪表板线束连接器。
解锁所有升降机安全锁，将车辆彻底放下。
拆下配电盒高压和配电盒12v端罩。
从车上拆下喇叭总成。
将前排乘客膝部气囊和密封饰板作为总成从车上拆下。
滑动释放装置在锁定位置锁定高压电池正温度系统加热器和空调压缩机连接器把手。
使用饰板工具沿前车牌架四周松开将支架固定到前饰板的胶带。
从车身上拆除遮蔽胶带。
将连接器安装到车载电脑右侧注9个连接器
确保真空再充注工具的冷却液再充注软管的末端完全浸入冷却液容器。
紧固将冷却液软管连接到12v电池支架的夹子。
从座椅靠背泡沫上拆下驾驶位座椅靠背饰板。
从车上揭下遮蔽胶带条。
关闭左前车门，然后完全升起车窗玻璃。
如果装配了紧急响应回路标签，请确保安装后挡板之后可以看到该标签。
断开电气连接器与左围板扬声器的连接，然后从车上拆下扬声器。
升高车辆。请参阅升起车辆双柱举升机。
部分升起车辆。
将泄漏测试适配器安装到配电盒探针盖板中。
拧紧将电池至冷却器软管固定到车身的夹子。
安装将前车身控制器模块盖板固定到前车身控制器模块的螺栓。
松开12v电池支架上的12v电池通风软管夹。
将装有toolbox3的笔记本电脑连接到车辆。
断开拖车挂钩跳线线束和车身线束电气连接器与拖车挂钩电子控制单元之间的连接。
从左后弹簧上拆下弹簧压缩器。
调节大灯。请参阅大灯调节北美。
从直流输入总成中拆下充电接口哑插头。
断开触摸屏电气连接器，然后从车上拆下触摸屏和中央显示器外壳。
断开连接器与中控台右侧的连接。
拆下覆盖车门内开口处的螺塞，以便接近升降器隔离夹。
完全打开中控台扶手。
在暖通空调气室管道区域，紧固将电气线束固定到车身的夹子。
将空调高压电气线束安装到连接器支架，然后连接空调高压电气线束。
用小号一字螺丝刀断开作业灯上的电气线束，然后从车辆上拆下作业灯。
连接环境温度传感器电气连接器。
拆下并弃用吸入/液体管接头上的o型环。
完全抬起高压电池正温度系统加热器和空调压缩机连接器上的把手。
将冷却液再充注软管完全浸入冷却液容器中。
拆下冷却液罐盖。
将电阻式占用传感器连接器连接到电气线束。
